{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}
{% block stylesheets %} {{parent()}} {% endblock %}
{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ form_type }}! ✅</h1>
    {{ form(form) }}


</div>
{% endblock %}
